.filter_report_modal {
    width: 500px;
    padding: 20px;
}
.filter_report_modal_tile {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    color: #000000;
    margin-bottom: 15px;
}
.filter_report_input_lebel_groups{
margin-bottom: 15px;
}

.add_camera_buttons{
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: center;
    grid-gap: 15px;
    margin-top: 15px;
}
.add_camera_buttons_cancle{
    height: 40px;
    background: #FFDEDE;
    color: #AC0000;
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.add_camera_buttons_cancle:hover{
    background: #DB4040;
    color: #FFFFFF;
}
.add_camera_buttons_save{
    height: 40px;
    background: #ABFCC8;
    color: #00752A;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
}
.add_camera_buttons_save:hover{
    background: #29B85D;
    color: #FFFFFF;
}

.ant-radio-checked .ant-radio-inner {
    border-color: #29b85d!important;
    background-color: #29b85d!important;
}
.ant-radio-checked:hover{
    border-color: #29b85d!important;
}