.database_modal {
    box-sizing: border-box;
    width: 600px;
}

.database_modal_top {
    padding: 5px 15px;
}

.database_modal_top h2 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.database_modal_form {
    /*display: grid;*/
    /*grid-template-columns: 1fr 1fr 0.5fr;*/
    /*grid-gap: 10px;*/
    padding: 0 15px;
}

.database_modal_form_inner1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 10px;
}

.database_modal_form_inner1_input {
    height: 80px;
}

.database_modal_form_inner1_input .ant-picker {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}
.database_modal_form_inner1_input .ant-picker-input input{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
}

.database_modal_form_inner1_input .anticon {
    color: #888D97 !important;
}

.database_modal_form_inner2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}
.database_modal_form_inner2_left{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0 10px;
}
.database_modal_form_inner2 .database_modal_form_inner1_input:first-child .ant-input {
    height: 125px;
}

.database_modal_form_inner3 {
    display: grid;
    grid-template-rows: 1fr;
}
.database_modal_form_inner3 .database_modal_form_inner1_input{
    height: 100%!important;
}


.database_modal_form_inner3 .upload_button {
    height: 75% !important;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.database_modal_form_inner3 .upload_button img {
    /*width: 60%;*/
    /*height: 55px;*/
    /*transform: scale(1.2);*/
}

.database_modal_form_inner1_input span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: black;
}

.database_modal_form_inner1_input .ant-input {
    border-radius: 5px;
    height: 40px;
    font-weight: 600;
}
.database_modal_form_inner1_input .ant-input::placeholder {
    border-radius: 5px;
    height: 40px;
    font-weight: 600;
    color: rgb(191, 191, 191) !important;
    font-family: "Open Sans";
}

.database_modal_form_inner1_input .ant-select-selector {
    height: 40px !important;
}

.database_modal_form_inner1_input .ant-select-selection-placeholder {
    color: #bfbfbf !important;
    font-weight: 500 !important;
    display: flex !important;
    align-items: center !important;
}

.database_modal_form_inner1_input .ant-select-selection-item {
    display: flex !important;
    align-items: center !important;
    font-weight: 600!important;
}

.database_modal_line {
    height: 1px;
    background: #E2E6ED;
    width: 100%;
    margin: 10px 0;
}

.database_modal_buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding:0 15px;
    padding-bottom: 10px;
}
.database_buttons{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-top: 10px;
}



.car_type_modal {
    width: 800px;
    padding: 15px;
    border-radius: 5px;
}

.car_type_modal_top {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #000000;
}

.car_type_modal_body {
    margin: 20px 0;
}

.car_type_modal_body table {
    width: 100%;
}

.car_type_modal_body table tr td {
    border: 1px solid #E2E6ED;
    width: 25%;
    /*background: green;*/
}

.car_type_modal_body_inner {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.car_type_modal_body_inner:hover img {
    transform: scale(0.9);
    /*width: 80%;*/
    /*height: 70%;*/
}
.car_type_modal_body_inner_text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    color: #000000;
    padding: 5px 0;
    text-align: center;
}
.car_type_modal_button {
    display: flex;
    justify-content: end;
}
.car_type_modal_button button {
    background: #FFFFFF;
    border: 1px solid #E2E6ED;
    border-radius: 5px;
    padding: 0 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #888D97;
}
.database_modal_form_inner1 .colorSelect .rc-virtual-list-holder-inner{
    /*display: flex!important;*/
    flex-direction:initial!important;
}
.ant-select-item-option-content{
    display: flex;
    align-items: center;
}

.user_list_modal_form_input_two_item{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-top: 16px;
}



.database_modal_form_inner1_input .red{
    width: 64px;
    height: 24px;
    /*background: red;*/
    border-radius: 3px;
    display: flex!important;
    align-items: center!important;
}
.red_inner{
    width: 24px;
    height: 24px;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid #E2E6ED;
}
.red_inner1{
    background: #04B400;
}
.red_inner0{
    background: #FFFFFF;
}
.red_inner2{
    background: #106BEA;
}
.red_inner3{
    background: red;
}
.red_inner4{
    background: yellow;
}
.red_inner5{
    background: gray;
}
.red_inner6{
    background: black;
}
.red_inner7{
    background: orange;
    margin: 0!important
}
.red_inner8{
    background: pink;
    margin: 0!important
}
.red_inner9{
    background: purple;
    margin: 0!important
}
.red_inner10{
    background: brown;
    margin: 0!important
}
.red_inner11{
    background: silver;
    margin: 0!important
}


